.post-number {
  position: absolute;
  right: 25px;
  top: 60px;
  height: 50px;
  width: 50px;
  background-color: #2b6cb0;
  border-radius: 25px;
  text-align: center;
  padding-top: 10px;
}

.step-wrap {
  width: 300px;
}

@media only screen and (min-width: 768px) {
  .post-number {
    right: 15px;
    top: 40px;
  }

  .step-wrap {
    width: 40%;
  }
}
